$purple: #624789;
$cyan: #1e8dfa;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url("../assets/bg.png");
  background-size: cover;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding-top: 60px;
}

h1 {
  text-align: center;
  margin-bottom: 36px;
  color: darken(#fff, 65%);
}

.card {
  display: flex;
  justify-content: center;
  h1 {
    margin-bottom: 24px;
  }
  .card-body {
    display: flex;
    align-items: center;
    width: 48%;
    background-color: #fff;
    flex-direction: column;
    border-radius: 8px;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 32px;
    .input-group {
      position: relative;
      input {
        font-size: 16px;
        width: 100%;
        border: none;
        margin-bottom: 20px;
        border-bottom: 1px solid darken(#fff, 35%);
        padding: 0.5rem 0;
        background: none;
      }
      input:focus {
        outline: none !important;
        border-bottom: 1px solid $cyan;
        box-shadow: 0 1px rgba(30, 141, 250, 0.3);
      }
      input:focus ~ label,
      input:valid ~ label {
        top: -12px;
        font-size: 14px;
        color: #1e8dfa;
      }
      label {
        position: absolute;
        top: 8px;
        left: 0;
        color: darken(#fff, 35%);
        transition: 0.2s all;
        cursor: text;
      }
    }
  }

  .card-footer {
    width: 100%;
    margin-top: 8px;
    border: 1px solid black;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    background-color: darken(#fff, 5%);
    border-top: 1px solid darken(#fff, 20%);
    p {
      text-align: center;
      color: darken(#fff, 50%);
      font-size: 16px;
      span {
        color: blue;
        text-decoration: underline;
      }
      span:hover {
        cursor: pointer;
      }
    }
  }
}

.btn {
  font-size: 16px;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: $cyan;
  margin-top: 12px;
  outline: none;
}
.btn:hover {
  cursor: pointer;
  background-color: darken($cyan, 5%);
}

.abcRioButton {
  border-radius: 4px !important;
}

.btn-github {
  background-color: #171515;
  color: #fff;
  border-radius: 4px;
  width: 120px;
  height: 36px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

  .btn-github-wrapper {
    height: 100%;
    width: 100%;
    .icon {
      float: left;
      padding: 8px;
      .icon-child {
        height: 22px;
        width: 22px;
        background-image: url("../assets/GitHub-Mark-Light-32px.png");
        background-size: cover;
      }
    }
    span {
      padding: 8px;
      font-size: 13px;
      line-height: 34px;
      font-weight: 500;
      margin: 0 6px;
      vertical-align: top;
    }
  }
}

.btn-github:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
  transition: 0.25s all;
}

.oauth {
  display: flex;
  margin-top: 12px;
  width: 100%;
  padding: 12px 56px;
  justify-content: space-between;
}
